
.recipes {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }
  
.recipe-card {
  border-radius: 5px;
  padding: 5px;
  margin: 10px 10px;
  width: 250px;
  height: 300px;
  text-align: center;
  display: grid;
  grid-template-rows: 50px auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-header {
  border-bottom: 1px solid black;
  margin: 0 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-image-holder {
  border-radius: 10px;
  border: 1px solid black;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
}

.recipe-image {
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 225px;
}

.tags {
  margin: 10px 5px
}

input[type="text"] {
  background: url("/search.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 6px center;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 10px 5px 25px;
}

input:focus {
  outline: none;
}

.recipe-detail-card {
  border-radius: 5px;
  margin: 10px 10px 50px 10px;
  width: 650px;
  text-align: center;
  display: grid;
  grid-template-rows: 75px auto;
  row-gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.recipe-detail-image-holder {
  border-radius: 10px;
  border: 1px solid black;
  width: 250px;
  height: 250px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
}

.recipe-detail-image {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
}

.card-detail-header {
  border-bottom: 1px solid black;
  margin: 0 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-content {
  text-align: left;
  margin: 15px 25px;
}

.tag-list {
  margin-top: 5px;
}

.detail-actions {
  margin-bottom: 10px;
  text-align: left;
  margin-bottom: 0;
  margin-left: 10px;
}

.icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 10px;
}

.icon:hover {
  opacity: 50%;
}

@media only screen and (max-width: 600px) {
  .recipes {
    grid-template-columns: auto;
  }

  .recipe-card {
    width: 300px
  }

  .recipe-detail-card {
    width: auto;
  }

  .print-icon:hover {
    opacity: inherit;
  }
}

@media print {
  .header {
    display: none;
  }

  .recipe-detail-card {
    width: 6.5in;
  }

  .detail-actions {
    display: none;
  }

  .recipe-detail-image-holder {
    display: none;
  }

  .tags {
    display: none;
  }
  
}